@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>Changes by PetrP 14:28 in browser</p>
        <p>UPDATED 22.11.2023</p>
        <p>TODAY IS WEDNESDAY...</p>
        <form>
            <input type="submit" value="Hit Me for Exception..." formaction="ThrowExceptionTest" />
        </form>
    </div>

<div>
    This is footer!!!
    </div>