@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>Changes by PetrP 16:07</p>
        <p>UPDATED 10.11.2021</p>
        <p>HELLO DHL TEAM!!!!!</p>
        <form>
            <input type="submit" value="Hit Me for Exception..." formaction="ThrowExceptionTest" />
        </form>
    </div>

<div>
    46464
    </div>